body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.logo-instagram-cont {
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo_sidebar {
    width: 10em;
    padding-left: 1em;
    margin-top: 1em;
}

.sidebar-main-cont {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;


}

.home-cont {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1em;
    width: 17.5em;
    height: 4em;
    margin-top: 2em;
    border-radius: 12px;
    padding-left: 1em;
    transition: background-color 0.3s ease;

}

.other-sidebar-cont {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1em;
    width: 17.5em;
    margin-top: 0.7em;
    height: 4em;
    border-radius: 12px;
    padding-left: 1em;
    transition: background-color 0.3s ease;
}

.home-cont:hover {
    background-color: #f4ebeb;

}

.other-sidebar-cont:hover {
    background-color: #f4ebeb;

}

.sidebar-text {
    /* font-weight: 700; */
    font-size: 1.35em;
    padding-left: 0.5em;
    /* font-family: "Montserrat", serif; */
    letter-spacing: 0.05em;

}

.photo_sidebar {
    width: 1.8em;
}

.photo_sidebar_popup {
    width: 1.3em;
}

.photo_sidebar_insta {
    width: 1.8em !important;
    margin-left: 1em;
    cursor: pointer;
}



.sidebar-footer-cont {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding-top: 8em;

}

.confirm-popup-more.p-confirm-popup .p-confirm-popup-content {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 22em;
    height: 30em;
    color: white;
    border-radius: 20px;
}

.confirm-popup-more.p-confirm-popup.p-component.p-ripple-disabled {
    top: 28em !important;
}

.popup-message-container div {

    font-size: 16px;
    color: #333;
}

.popup-message-container div:last-child {
    margin-bottom: 0;

}

.p-confirm-popup-footer {
    display: none !important;
}

.sidebar-main-cont-popUp {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-top: -3em;

}

.settings-cont {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1em;
    width: 20.5em;
    padding-left: 1em;
    height: 4em;
    margin-top: 3em;
    margin-left: -1em;
    border-radius: 15px;
    transition: background-color 0.3s ease;

}

.settings-cont:hover {
    background-color: #f4ebeb;

}

.other-sidebar-cont-popUp {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1em;
    width: 20.5em;
    padding-left: 1em;
    margin-left: -1em;
    border-radius: 15px;
    transition: background-color 0.3s ease;

}

.other-sidebar-cont-popUp-switch {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1em;
    width: 20.5em;
    padding-left: 1em;
    margin-left: -1em;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    margin-top: 0.5em;
}

.other-sidebar-cont-popUp-logout {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1em;
    width: 20.5em;
    padding-left: 1em;
    margin-left: -1em;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

.sidebar-text-popUp {
    font-weight: 500;
    font-size: 1.1em;
    color: black;
}

.other-sidebar-cont-popUp:hover {
    background-color: #f4ebeb;

}

.other-sidebar-cont-popUp-logout:hover {
    background-color: #f4ebeb;

}

.other-sidebar-cont-popUp-switch:hover {
    background-color: #f4ebeb;

}

.breaker_for_popup {
    background-color: #DBDBDB4D;
    height: 0.5em;
    width: 22em;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    margin-top: 1.5em;
}

.breaker-second {
    background-color: #999;
    height: 0.05em;
    width: 22em;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    margin-top: 1em;
}

.p-sidebar {
    box-shadow: none !important;
    border-right: 1.3px solid rgb(128, 128, 128, 0.4);

}


.sidebar-main-cont {
    box-shadow: none !important;
}

.active .sidebar-text {
    font-weight: bold;
    color: #000;
}


.p-confirm-popup.p-component.p-ripple-disabled.p-confirm-popup-flipped.p-connected-overlay-enter-done::before,
.p-confirm-popup.p-component.p-ripple-disabled.p-confirm-popup-flipped.p-connected-overlay-enter-done::after {
    content: none !important;
    display: none !important;
    opacity: 0;
}


.p-dialog-draggable .p-dialog-header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 60em;
}

.p-dialog .p-dialog-content {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 60em;
    margin-top: -2em;

}


.p-dialog .p-dialog-header .p-dialog-title {
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
    color: black !important;
    margin-top: -1em;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
    visibility: hidden;
}

.line-dialog-create {
    height: 0.1em;
    width: 54em;
    background-color: #999;
    opacity: 0.35;
}

.line-third {
    height: 0.1em;
    width: 54em;
    background-color: #999;
    opacity: 0.35;
    margin-top: -37em;
    position: absolute;

}

.photo-create-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 40em; */
    margin-top: 1em;
    height: fit-content;
    /* border: 2px solid red; */
    flex-direction: column;
    /* width: 66em; */
    overflow-x: hidden;
    min-height: 40em !important;
}

.galleryPhoto {
    width: 6em;
}

.dragdrop-create-text {
    color: black;
    font-size: 1.7em;
}

.custom-choose-btn {
    background-color: rgb(0, 149, 246);
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    height: 2.5em;
    font-size: 1.1em;
    letter-spacing: 0.03em;
}

.custom-choose-btn:hover {
    background-color: #005bb5;
}

.custom-choose-btn.p-button .p-button-icon-left {
    margin-left: -1.5em;
    visibility: hidden;
}

.image-preview-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40em;
}

.image-preview {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

h3.dialog-title {
    text-align: center;
    font-size: 1.3em;
    margin-top: 0em;
}

.dialog-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22.5em;
}

button.back-arrow {
    background: transparent;
    border: none;
    margin-top: -1em;
}

button.next-button {
    color: #0095F6;
    background: transparent;
    border: none;
    font-weight: 700;
    font-size: 1.1em;
    margin-top: -1em;
}

button.next-button:hover {
    color: black;
}

.zoomIn-photo {
    /* background: red; */
    width: 1.5em;
}

.footer-container-create {
    /* border: 1px solid red; */
    width: 53em;
    display: flex;
    align-items: center;
}

.circle-zoomIn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(51, 51, 51, 0.9);
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.slider-container {
    margin-left: 2em;

}

.p-slider .p-slider-range {
    background: black;
}

.p-slider .p-slider-handle {
    border: 2px solid black;
}

.p-slider:not(.p-disabled) .p-slider-handle:hover {
    background-color: black;
}

.header-third-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 47.5em;
    position: absolute;
    margin-top: -40em;
}

svg.x1lliihq.x1n2onr6.x5n08af {
    margin-left: -1em;
}

.main-content-post-photo {
    /* border: 1px solid red; */
    margin-top: 3em;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 60em;
    gap: 0.7em;

}

.main-content-post-photo-LEFT {
    height: 37em;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 25em;
    border-right: 1px solid #999;
}

.main-content-post-photo-RIGHT {
    /* border: 1px solid rgb(18, 16, 17); */
    width: 30em;
    height: 38em;

}

.selected-image {
    width: 20em;
}

.right-container-username {
    /* border: 1px solid red; */
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 0.7em;

}

.create-username-text {
    font-weight: 900;
    letter-spacing: 0.03em;
    font-family: "Montserrat", serif;
}

.main-story-container-create {
    /* border: 1px solid red; */
    width: fit-content;
}

.storyText-container {
    display: flex;
    justify-content: center;
}

.outer-circle-create {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}


.story-container-create {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #E0E0E0;
    overflow: hidden;
}

.story-container-create img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: white;
}

.text-area-create-container {
    /* border: 1px solid red; */
    height: 16em;
    padding-top: 1em;
    margin-left: 0.5em;
    width: 29em;
    display: flex;
    justify-content: center;
}

textarea.p-inputtextarea.p-inputtext.p-component.p-inputtextarea-resizable {
    max-height: 14em !important;
    border: none;
}

.footer-create-share-cont {
    /* border-bottom: 1px solid #999; */
    margin-top: 0em;
    margin-left: 0.5em;
    display: flex;
    align-items: center;
    gap: 22em;
    height: 2em;


}

.letter-counter-text {
    color: #999;
    opacity: 0.6;
    padding-left: 1.5em;

}

.brfeaker-line-create {
    background-color: #999;
    height: 0.1em;
    margin-top: 1em;
    opacity: 0.3;
}

.brfeaker-line-create-second {
    background-color: #999;
    height: 0.1em;
    margin-top: -0.2em;
    opacity: 0.3;

}

.custom-input-textarea:focus {
    outline: none;
    /* Uklanja plavi obrub */
    border-color: #ccc;
    /* Možete prilagoditi border ako želite */
    box-shadow: none;
    /* Sprečava dodatne sjene u nekim preglednicima */
}

.actions-container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid black; */
}

.inner-action-container {
    /* border: 1px solid red; */
    width: 29em;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 19em;
    margin-top: 0.5em;

}

.inner-action-container-second {
    /* border: 1px solid red; */
    width: 29em;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16.8em;

}

.inner-action-container-third {
    /* border: 1px solid red; */
    width: 29em;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20.93em;

}

.inner-action-container-forth {
    /* border: 1px solid red; */
    width: 29em;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 17.3em;

}

.actions-container-text {
    font-size: 1.1em;
    font-family: "Montserrat", serif;
}

.aside.epr-main.EmojiPickerReact.epr_mw4zr1.epr_q53mwh.epr_7hyle2.epr_-x928hz.epr_-rvl3je.epr_-khp9xq.epr_-to8mm.epr_-4ueg5a.epr_iddbfm.epr_vy4vae.epr_6daqyu.epr_-6npj90 {
    background: white;
    z-index: 3000000 !important;
}

.p-sidebar .p-sidebar-header+.p-sidebar-content {
    padding-top: 0;
    overflow: hidden !important;
}

.search-dialog-mask {
    background-color: transparent !important;
    margin-left: -36em !important;
}


.search-dialog .p-dialog-header {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 1.5em !important;
    width: 33em;
    min-height: 8em;

}

.search-dialog .p-dialog-content {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 1.5em !important;

}

.search-dialog {
    box-shadow: 1.5px 0 6px -1px rgba(133, 133, 133, 0.5) !important;
    border-top-right-radius: 1.5em !important;
    border-bottom-right-radius: 1.5em !important;


}

.search-dialog .p-dialog-header .p-dialog-title {
    font-weight: 500;
    font-size: 2rem !important;
    text-align: left !important;
    color: black !important;
    margin-top: 0em !important;
}

.search-container {
    /* border: 1px solid red; */
    margin-left: -1em;
}

.profile-image-search {
    border-radius: 50%;
    height: 3.7em;
    width: 3.7em;
}

.main-list-search-cont {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-left: -4em;
    width: 40em;
    margin-top: 0.5em;

}

.username-search-text {
    font-size: 1.2em;
    font-weight: 600;

}

.full-name-search-text {
    font-size: 1.1em;
    color: #737373;

}

.list-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    padding-left: 1.7em;
    gap: 1em;
    height: 4.5em;
    margin-top: 0.5em;
}

.list-item:hover {
    background-color: #f0f0f0;
}

.left-list-search-container {
    flex-shrink: 0;
    margin-right: 0.5em;
}

.right-list-search-container {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    margin-top: -0.2em;
}

.search-input {
    width: 29em;
    border-radius: 8px;
    height: 3em;
    background-color: #EFEFEF;
    border: none;
    padding-left: 1.2em;
    /* Pomjera placeholder desno */
    font-size: 1em;
    /* Povećava font placeholdera */
    outline: none;
    /* Sprječava da se prikaže border pri kliku */
}

/* Povećanje fonta placeholdera */
.search-input::placeholder {
    font-size: 1.2em;
    /* Povećava placeholder font */
    color: #8e8e8e;
    /* Opcionalno: promjena boje placeholdera */
}