body,
html {
    width: 100%;
    margin: 0;
    padding: 0;
}


.form-logIn-container {
    border: 0.5px solid rgb(179, 176, 176);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 1em;
    flex-direction: column;
    gap: 0.5em;
    padding: 1.5em;
    width: 90%;
    max-width: 350px;
    box-sizing: border-box;
}

.next-button-logIn {
    background-color: #0095f6;
    width: 90%;
    height: 2.2em;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 0.9em;
}

.next-button-logIn:hover {
    background-color: #0a7bc7;
}

.line-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    gap: 1rem;
}

.footer-form-container-logIn {
    border: 0.5px solid rgb(179, 176, 176);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22em;
    flex-direction: row;
    margin-bottom: 0.3em;
    gap: 0.3em;
}


@media screen and (max-width: 768px) {


    .form-logIn-container {
        width: 95%;
        margin-top: 1em;
        margin-bottom: 1em;
        padding: 1.5em 1em;
        border: none !important;
    }


    .policy-text {
        line-height: 1.4;
    }

    .line-container2 {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .facebook-logIn-cont {
        margin-top: -1em;
    }

    .forgotten-pass-text {
        margin-top: 0.5em;
        margin-bottom: 1em;
    }

    .footer-container2 p {
        font-size: 11px;
        word-spacing: 4px;
        line-height: 1.3;
        margin: 0.4em 0;
    }

    .footer-form-container-logIn {
        border: none;
    }

    .footer-container2 {
        padding: 0 1em;
    }
}

/* Iphone SE */
@media screen and (width: 375px) and (height: 667px) {
    .footer-form-container-logIn{
        margin-top: -2em;
    }
  
  }